In [2]:
import pandas as pd

In [27]:
df = pd.read_csv('character-deaths.csv')
df['Allegiances'].unique()

array(['Lannister', 'None', 'House Targaryen', 'House Greyjoy',
       'Baratheon', "Night's Watch", 'Arryn', 'House Stark',
       'House Tyrell', 'Tyrell', 'Stark', 'Greyjoy', 'House Lannister',
       'Martell', 'House Martell', 'Wildling', 'Targaryen', 'House Arryn',
       'House Tully', 'Tully', 'House Baratheon'], dtype=object)

In [16]:
df =  df[['Name','Allegiances']]

In [17]:
df.reset_index(drop=True, inplace=True)

In [18]:
df

                        Name      Allegiances
0             Addam Marbrand        Lannister
1    Aegon Frey (Jinglebell)             None
2            Aegon Targaryen  House Targaryen
3              Adrack Humble    House Greyjoy
4             Aemon Costayne        Lannister
..                       ...              ...
912                    Zollo             None
913        Yurkhaz zo Yunzak             None
914         Yezzan Zo Qaggaz             None
915         Torwynd the Tame         Wildling
916            Talbert Serry           Tyrell

[917 rows x 2 columns]